################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/-7-7ghghlgh/FileContentIndex/56cba6d7-0a2c-47e5-aecc-4866acfce44d.vsidx
