################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/-7-7ghghlgh/FileContentIndex/56cba6d7-0a2c-47e5-aecc-4866acfce44d.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/ac5bedcf-0dfe-4809-9f3e-1c72fe028bbe.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/23ba3b79-4354-4308-916a-2416ae7bbb21.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/63f2becc-90b9-4896-b2f0-fc7a191c2734.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/79687430-6e37-42b8-85d7-7908f10b14b2.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/19346c80-de58-4ccb-ab87-f2e5ffcf383d.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/9d6489e4-947e-4232-89b5-0c2433b4afed.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/aae77944-3980-486d-a3e9-4b9337aed92b.vsidx
/12C_2csop_Teszt-master/12C_2csop_Teszt-master/.vs/12C_2csop_Teszt/FileContentIndex/ab62ee69-d1f1-4ad4-9b2a-1c96de87781e.vsidx
